body {
    margin: 0;
    width: 600px;
    margin: 0px auto;
    font-family: 'Smythe', cursive;
    /* font-family: 'Inter', sans-serif; */
} 


header h1{
    font-size: 39px;
    font-weight: 400;
    position: absolute;
    color: #FFFFFF;
    top: 40px;
    left: 20px;

}

header h2{
    font-size: 24px;   
    font-weight: 400;
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    left: 20px;
}

header{
    position: relative;
    margin-bottom: 25px;
   
}

.banner{
    height: 170px;
    width: 600px; 
}

.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 508px;
    margin: 0 auto;
    padding: 25px;
}

.image-item{
    font-size: 90px;
    display: flex;
    align-items: center;
}

.middle{
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: left;
}

.middle h1{
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    margin-bottom: 10px;
}
.middle h2{
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.add-item{
    border-radius: 50%;
    background-color: #FFFFFF;
    color: grey;
    border: 1.5px solid #DEDEDE;
    height: 50px;
    width: 50px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
 
}

.divider{
    width: 508px;
    margin: 0 auto;
    height: 2px;
    background-color: #D2D2D2;
    
}

.order{
    display: flex;
    justify-content: center;
}