body {
  margin: 0;
  width: 600px;
  margin: 0px auto;
  font-family: 'Smythe', cursive;
  font-style: normal;
  font-weight: 400;
  /* font-family: 'Inter', sans-serif; */
}

header h1 {
  font-size: 39px;
  line-height: 24px;
  /* identical to box height, or 62% */
  font-style: normal;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  top: 20px;
  left: 50px;

  text-align: center;
  margin-bottom: 0;
}

header h2 {
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  bottom: 40px;
  left: 50px;
  margin-top: 0;
}

header {
  position: relative;
  margin-bottom: 40px;
}

.banner {
  height: 170px;
  width: 600px;
}

.wrapper,
.order-wrapper,
.total-wrapper {
  display: flex;
  justify-content: space-between;
  width: 508px;
  margin: 0 auto;
}

.wrapper {
  gap: 20px;
  padding: 25px;
}

.image-item {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.middle {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: left;
  justify-content: start;
}

.middle h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 17px;
  margin: 0;
}
.middle h2 {
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.add-item {
  border-radius: 50%;
  color: grey;
  background-color: white;
  border: 1.5px solid #dedede;
  height: 50px;
  width: 50px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 24px;
  /* or 75% */
  text-align: center;
  color: #3c3c3c;
}

.divider,
.divider-total {
  width: 508px;
  margin: 0 auto;
  height: 2px;
  background-color: #d2d2d2;
}

.divider-total {
  background-color: #393333;
  margin-top: 15px;
}

.order {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.order-title {
  display: flex;
  margin: 0 auto;
  padding: 50px;
  width: 508px;
  justify-content: center;
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 17px;
  /* identical to box height, or 60% */

  color: #000000;
}

.order-first {
  margin: 0px;
  padding: 10px;
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 17px;
  /* identical to box height, or 60% */

  color: #000000;
}

.order-second {
  margin: 0px;
  padding: 10px;
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: right;

  color: #000000;
}

.remove-btn {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  color: #bbbbbb;

  text-transform: lowercase;

  border: none;
  background: none;
}

.total {
  display: flex;
  justify-content: space-between;
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* identical to box height, or 86% */

  color: #0e0e0e;
}

.total h3 {
  font-size: 28px;
  font-weight: 400;
  padding-left: 10px;
}

.total p {
  font-size: 20px;
  line-height: 24px;
  padding-right: 10px;

  /* identical to box height, or 120% */

  text-align: right;
}

.complete-order-btn,
.pay-btn {
  display: block;

  margin-top: 35px;
  border: none;
  padding: 15px;
  background: #16db99;
  color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
